sessionSecret=./resources/secret/sessionSecret

TESTLIB_AGENT_NODEID={{ pbit_node_index }}
TESTLIB_CONTROL_PORT={{ pbit_testlib_port }}
TESTLIB_CONTROL_HOST={{ pbit_mgmt_addr }}
TESTLIB_ENVIRONMENT_KEY={{ pbit_environment_key }}
TESTLIB_COMMANDS_PATH=/opt/testlib/jobs
TESTLIB_DB_PATH="./resources/db/db.json"
TESTLIB_NFS_DEFAULT_MNT_PATH=/mnt/testlib
TESTLIB_AGENT_TOKEN={{ pbit_mgmt_addr | hash('sha1') }}
